*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Light.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
  background:#ffdd55 ;
}



.footer{
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px 0;
}
.footname{
  color: #ffdd55;
  font-weight: 700;
}